MY_TEST_ENV_RESET_VAR="reset by .env"
OPENAI_API_KEY=""
OPENAPI_KEY=""
GIT_NAME=""
GIT_EMAIL=""
LICENSE_STATE_FILE=".license_state.json"
LICENSE_REFRESH_INTERVAL_SECONDS="86400"
LICENSE_GRACE_WINDOW_SECONDS="604800"
GUMROAD_REQUEST_TIMEOUT_SECONDS="10"
